@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

.imagesWrapper {
    display: flex;
    align-content: space-between;
}

img {
    width: 40%;
}

.stepsWrapper {
    display: flex;
    /* max-width: 1080px;
    margin-left: auto;
    margin-right: auto; */
}

.ingredientsWrapper {
    width: 40%;
}

.headerWrapper {
    margin-top: 100px;
}

h1,h4,h5 {
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

h5 {
    font-family: 'Inter', sans-serif;
    color: #9A9A9A;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

ul li {
    list-style: square;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.75em;
}

.firstRecipeWrapper {
    border: 1px black;
    border-bottom-style: solid;
    border-top-style: solid;
    margin-top: 40px;
}




